<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20925364017-c61npvlhfdd7jdkk2tip1scd4m74s6nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20925364017-c61npvlhfdd7jdkk2tip1scd4m74s6nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCFN4ceEvCciswOF2Ftlkz479-bzFMbXKE</string>
	<key>GCM_SENDER_ID</key>
	<string>20925364017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leonardogarciah.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-2446a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-2446a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20925364017:ios:1ce04ab68471471f78a210</string>
</dict>
</plist>